@using Microsoft.AspNetCore.Components.Web
@using NOF.Sample.UI.Components
@using NOF.Sample.UI.Layout

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["_content/NOF.Sample.UI/app.css"]" />
    <link rel="stylesheet" href="@Assets["NOF.Sample.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="RenderMode.InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveAuto" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
